:root {
  --white: #dfdfdf;
  --black: #222;
}

body {
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#navbar {
  position: fixed;
  top: 2%;
  right: 2%;
  width: 100%;
  /* padding: 1%; */
  display: flex;
  justify-content: flex-end;
}
#navbar a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.2em;
  transition: .2s;
}
#navbar a:hover {
  font-size: 1.4em;
}
#home {
  background-color: var(--black);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
#home > h1 {
  color: var(--white);
}
#home button.answers {
  width: 70%;
  padding: 0.5em;
  border-radius: 5px;
  margin: 0.5em;
  border: 1px solid var(--black);
  cursor: pointer;
  transition: .1s;
  text-transform: capitalize;
}
#home button.answers:hover {
  background-color: var(--black);
  color: var(--white);
}
#home button.back {
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  display: flex;
}
#home button.back:hover {
  text-decoration: underline;
}
#bracket .cell {
  width: 18vw; 
  border-bottom: 1px solid #000;
  line-height: 0;
}
.bracket_header {
  position: absolute;
  top: 10vh;
  width: 100vw;
  text-align: center;
  outline: none;
  border: none;
  font-size: 1.5em;
  background: none;
}
.bracket_header:placeholder{
  color: #666;
  font-style: italic;
}
.bracket_container {
  display: flex;
  height: 70vh;
  margin-top: 15vh;
  margin-left: 5vw;
}
.round-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
input.cell {
  border-bottom: 1px solid #000;
  border-left: 0px;
  border-top: 0px;
}
input.cell:focus-visible {
  outline: none;
}
.container {
  width: 55vw;
  min-height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 5px;
  padding: 1em 2em;
}
#home td.que {
  white-space: nowrap;
}
#home td.ans {
  white-space: nowrap;
  text-align: right;
}
#home .generate,
#home .startover {
  width: 70%;
  padding: 0.5em;
  border-radius: 5px;
  margin: 0.2em;
  border: 1px solid var(--black);
  cursor: pointer;
  transition: .1s;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.9em;
}
#home .startover:hover {
  background-color: var(--black);
  color: var(--white);
}
#home .generate:hover {
  background-color: var(--white);
  color: var(--black);
}
#home .generate {
  margin-top: 2em;
  text-decoration: none;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  width: 67%;
}
#home h3.confirmtitle {
  padding: 0em 3em;
  text-align: center;
}
.button_menu {
  position: fixed;
  bottom: 2vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.button_menu button {
  margin: 1vw;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  border: 1px solid var(--black);
  cursor: pointer;
  transition: .1s;
}
.button_menu button:hover {
  background-color: var(--black);
  color: var(--white);
}